{% extends 'base.html.twig' %}

{% block title %}Liste des associations{% endblock %}

{% block body %}
    <h1>Liste des associations</h1>

    {% for organisation in organisations %}
        {% embed '_composants/_card.html.twig'%}
            {% block title %}
                <h2 class="text-2xl">{{ organisation.name }}</h2>
            {% endblock %}
            {% block body %}
                {{ organisation.description }}
                {{ organisation.createdAt|date }}
            {% endblock %}
        {% endembed %}
    {% endfor %}
{% endblock %}
